<!DOCTYPE html>
<html>

<head>
  <!-- Font du titre -->
  <link href="https://fonts.googleapis.com/css?family=Hurricane&display=swap" rel="stylesheet" />
  <!-- Font de la page entière -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/d92f5e6b/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css" />

  <meta charset="UTF-8">
  <title>Kawasaki hayabusa</title>
</head>
<!--
<body>
     En-tete de la page -->
<header id="header" class="d-flex justify-content-sm-between">
  <a href="../../index.html" id="dir-acceuil" title="Revenir vers l'acceuil"><img src="../../images/Véhi’Loc.svg"
      alt="logo" id="logo"></a>

  <nav>

    <div id="liens">
      <a href="#offres" id="propositions">Nos Offres</a>
      <a href="#gamme" id="propositions">Nos véhicules</a>
      <a href="#faq" id="propositions">FAQ</a>
      <a href="#" id="propositions">Inscription / Connexion</a>
    </div>

  </nav>

</header>

<!-- Zone de réservation -->
<section id="reservation" class="d-flex justify-content-evenly">
  <img src="../../images/vehicles/motorbikes/hayabusa.png" alt="Kawasaki hayabusa" id="photo-belle-voiture">

  <article id="reservation-left" class="card">
    <form action="" id="description-vehicule">
      <br />

      <h3 id="titre-vehicule" class="d-flex justify-content-center"><strong> Kawasaki hayabusa</strong></h3>
      <div>
        <div class="d-flex justify-content-center">
          Une moto rapide qui va vite.
        </div>
        <br />
        <h4 id="ville">Caractéristiques du véhicule:</h4>
        <div class="d-flex justify-content-center">
          Moteur 1l Essence
          <br />
          puissance: 70 chevaux (4 chevaux fiscaux)
          <br />
          92 newtonmetre de couple
          <br />
          Vitesse max: 167 km/h
          <br />
          Poids: 980 kg
          <br />
          Volume du réservoir: 35L
          <br />
          boite mécanique 6 vitesses
          <br />
        </div>


        <br />
        <br />
        <div class="d-flex justify-content-center">
          <button type="button" value="Reservation" id="boutton_reservation" class="btn btn-secondary ">Réserver ce
            véhicule</button>
        </div>
        <br />
      </div>


    </form>
  </article>

</section>
<div>
  <br />
  <h3 class="d-flex justify-content-center"><strong>Dans la meme catégorie de véhicules:</strong></h3>

  <div class="slider d-flex justify-content-sm-between">

    <div class="slider-viewport">
      <div id="img1">

        <div id="img2">

          <div id="img3">



            <div class="slider-content">
              <a href="../../views/motos/gn.html" title="Kawasaki gn"><img
                  src="../../images/vehicles/motorbikes/gn.png"></a>
              <a href="../../views/motos/MT-10.html" title="Kawasaki MT-10"><img src="../../images/vehicles/motorbikes/MT-10.png"></a>
              <a href="../../views/motos/Ninja.html" title="Kawasaki Ninja"><img
                  src="../../images/vehicles/motorbikes/Ninja.png"></a>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav">
      <a href="#img1"></a>
      <a href="#img2"></a>
      <a href="#img3"></a>

    </div>
  </div>
</div>
<br />

<!-- Pied de Page -->
<footer id="footer" class="d-flex  justify-content-evenly">


  <div class="mx-4">

    <br />
    <h3><strong>Location de voiture</strong></h3>

    <br />
    location sur Lille
    <br />
    location sur Paris
    <br />
    location sur Lyon
    <br />
    location sur Marseille
    <br />

  </div>
  <div class="mx-4">
    <br />
    <h3><strong>Location d’utilitaire</strong></h3>

    <br />
    location de fourgonette
    <br />
    location de fourgon
    <br />
    location de camionette
    <br />
    location de camion hayon
    <br />

  </div>
  <div class="mx-4">
    <br />
    <h3><strong>Location déménagement</strong></h3>

    <br />
    location camion déménagement
    <br />
    location garde meuble
    <br />
    Nos kits de démagements
    <br />

  </div>
  <div class="mx-4">
    <br />
    <h3><strong>Qui sommes nous ?</strong></h3>

    <br />
    Devenir franchisé
    <br />
    Nous contacter
    <br />
    Conditions générales
    <br />
    Conditions assurance complémentaire
    <br />

  </div>

</footer>
<br />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>

</html>